.myrows{
  border: 3px solid green;
  padding: 5px;
}
.mycols{
  border: 3px solid red;
}
.mycontainer{
  background-color: aqua;
}
#topHeader{
  border-bottom: 1px solid #ebebeb;
}
#topHeader a{
  color: #2c3e50;
  font-weight: 600;
  font-size: 0.89rem;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
nav ul li a {
	font-size: 1.1rem;
	font-weight: 600;
}


/* START : Footer */
.full-footer{
  background-color: #243c4f;
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer h3{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}

/* END : Footer */


body{
  margin: 0;
  padding: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}

/* Start : Home page first hero section */

  /* END : Home page first hero section */
/* About Me */ 

.site-main .about-area .about-title p{
  padding: 1rem 7rem;
}

.site-main .about-area .client{
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
  padding: 2rem;
}

.site-main .about-area .client .about-client{
  padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
  font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p{
  font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}


/* End About Me */ 
.button {
  background-color: #4458dc; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*skiils */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.title-skills {
  font-size: 3em;
  margin-top: 4em;
  font-family: "Raleway", sans-serif;
  text-transform : uppercase;
  letter-spacing : 10px;
  transition : all 400ms ease-in-out;
  margin: 4rem auto;
  text-align: center;
}

.bar {
  width: 80%;
  margin: 2em auto;
}

.skill {
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.speech-bubble {
  font-size: 1.05em;
  color: black;
  line-height: 2em;
  position: absolute;
  top: -2.7em;
  text-align: center;
  min-width: 3em;
  border-radius: 0.3em;
  display: none;
}

.hm {
  left: calc(75% - 1.5em);
}
.p {
  left: calc(65% - 1.5em);
}
.ja {
  left: calc(45% - 1.5em);
}

.uxui{
  left: calc(75% - 1.5em);
}

.jquery {
  left: calc(65% - 1.5em);
}

.sketch{
  left: calc(45% - 1.5em);
}
.ethical{
  left: calc(85% - 1.5em);
}

.cyber {
  left: calc(35% - 1.5em);
}

.speech-bubble:after {
  border: 0.5em solid transparent;  
  content: '';
  margin-left: -0.5em;
  position: absolute;
  top: 100%;
  left: 50%;
}

.bar-outer {
  height: 1.25em;
  background: #EEEEEE;
  position: relative;
  border-radius: 0.3em;
}

.bar-inner {
  width: 0;
  height: 1.25em;
  border-radius: 0.3em;
}
/* bars */
.ht, .html {
  background: #4458dc;
}

.html:after {
  border-top-color:#4458dc;
}

.py, .jquery {
  background: #4458dc;
}

.jquery:after {
  border-top-color: #fde4e1;
}

.java, .sketch {
  background: #4458dc;
}

.sketch:after {
  border-top-color: #fcd9d5;
}

.uiux, .photo {
  background: #4458dc;
}

.photo:after {
  border-top-color: #fbc9c4;
}

.ec, .illustrator {
  background: #4458dc;
}

.illustrator:after {
  border-top-color: #f9b3ac;
}

.cs, .indesign {
  background: #4458dc;
}


/*time line*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
.eduh{
 color: #4458dc;
 text-align: center;
 font-family: 'Lobster';
 font-size: 100px;
}
.timeline{
  position:relative;
  margin:50px auto;
  padding:40px 0;
  width:1000px;
  box-sizing:border-box;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:#c5c5c5;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}

.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:#4458dc;
  border-radius:50%;
  box-shadow:0 0 0 3px #4458dc;
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:#4458dc;
  border-radius:50%;
  box-shadow:0 0 0 3px #4458dc;
}
.timeline ul li h3{
  padding:0;
  margin:0;
  color:#4458dc;
  font-weight:600;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;
  background:#4458dc;
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px #4458dc;
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background:#4458dc;
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px #4458dc;
}
@media(max-width:1000px)
{
  .timeline{
    width:100%;
  }
}
@media(max-width:767px){
  .timeline{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}

.top-hero-section{
  background-color: #3498db;
  color: white;
  }
  .top-hero-section a{
    color: white;
    font-weight: 600;
  }
  .qualities-img{
    width:200px;
  }




.contact-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contact-info .item{
  width: calc(33% - 20px);
  height: 160px;
  background-color: #353b48;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s linear;
}

.contact-info i{
  display: block;
  font-size: 40px;
  line-height: 120px;
  height: 100px;
}

.contact-info .item:hover{
  background-color: #48dbfb;
}

.contact-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form input, .contact-form textarea{
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: #353b48;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
}

.nameZone, .emailZone{
  max-width: calc(50% - 10px);
}

.messageZone{
  min-height: 200px;
  resize: vertical;
}


.section-title{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 15px;
  position: relative;
  font-size: 50px;
  padding-bottom: 20px;
  color: #111;
}




 
/* buttons*/

.btn{
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: #3498db;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.btn::before,.btn::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #353b48;
  transform: skewX(50deg);
  transition: .4s linear;
}

.btn::before{
  top: -4px;
  left: 10%;
}

.btn::after{
  bottom: -4px;
  right: 10%;
}

.btn:hover::before{
  left: 80%;
}

.btn:hover::after{
  right: 80%;
}

/*fade in */
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

.containerbtn { 
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/*avatar*/
.avatar {
  vertical-align: middle;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}